.bg-lg-FFF-EF0D0D {
    background: linear-gradient(270deg, #FFF -11.66%, #ef0d0d 115.31%);
}
.bg-lg-FFF-20Ef0D {
    background: linear-gradient(270deg, #FFF -11.66%, #20ef0d 115.31%);
}
.bg-lg-FFF-E7Ef06 {
    background: linear-gradient(270deg, #FFF -11.66%, #e7ef06 115.31%);
}

option {
    color: #000000;
}


.fw-700 {
    font-weight: 700;
}
